<div id="outer" class="flex_column">
  <header id="one">Shark Junior's</header>
  <nav id="two">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/skate">Skate</a></li>
      <li><a href="/shoes">Shoes</a></li>
      <li><a href="/apparel">Apparel</a></li>
      <li><a href="/videos">Videos</a></li>
    </ul>
  </nav>
  <div id="center">
    <div class="text-center">
      <h1>Top 5 videos of the week!</h1>
      <%= link_to image_tag("Skate_1.png", class:"skate-image text-center"),  "https://www.youtube.com/watch?v=ch_I97FxJio", target: "_blank" %>
      <p id="video-link" ><%= link_to "#1 Hollywood Free park montage", "https://www.youtube.com/watch?v=ch_I97FxJio", target: "_blank" %></p>
      <%= link_to image_tag("Skate_2.png", class:"skate-image"), "https://www.youtube.com/watch?v=hD686Vo-Z8c", target: "_blank" %>
      <p><%= link_to "#2 February 2015 Skate Montage", "https://www.youtube.com/watch?v=hD686Vo-Z8c", target: "_blank" %></p>
      <%= link_to image_tag("Skate_3.png", class:"skate-image"), "https://www.youtube.com/watch?v=pKkuaqinPNY", target: "_blank" %>
      <p><%= link_to "#3 Mickey O'keefe acid drops South Florida", "https://www.youtube.com/watch?v=pKkuaqinPNY", target: "_blank" %></p>
      <%= link_to image_tag("Skate_4.png", class:"skate-image"), "https://www.youtube.com/watch?v=Qfz-SyqRhhA", target: "_blank" %>
      <p><%= link_to "#4 Josiah Gatlyn Full Part 2010", "https://www.youtube.com/watch?v=pKkuaqinPNY", target: "_blank" %></p>
      <%= link_to image_tag("Skate_5.png", class:"skate-image"), "https://www.youtube.com/watch?v=hnZJ89ylmVQ", target: "_blank" %>
      <p><%= link_to "#5 Park Hammerzz!", "https://www.youtube.com/watch?v=hnZJ89ylmVQ", target: "_blank" %></p>
    </div>

    <div class="flex_column">
      <aside>
        Majority of of the best clips at OG hollywood freepark. enjoy!
Featuring:Danny Maresca,Holland Cain,EnzoJuarez,Geo Bravo,John Landi,David Teplicki,Omar Bazzan, Puerto-Rican Matt,Jonah Tompson,Mickey O'keefe

Filmed by Mike Suhor and Christian Sims
      </aside>
      <aside>
        Another month of fantastic skateboarding! Featuring Chris Chann, Ty Moss, Josh Katz (myself), Eric Gordon, Jason Nam, Ryan Herron, Patrick Praman, Dan Corrigan, and Ollie Tawoosi.
      </aside>
      <aside>
        It is my pleasure to release this video part of such a dedicated skateboarder and good friend, Mickey O'keefe.

        "PAIN IS WEAKNESS LEAVING THE BODY"

        Filmed by: Mike Suhor and Christian
        Edit:Mike Suhor
      </aside>
      <aside>
        http://uskocollective.com
        instagram: @uskocollective

        http://facebook.com/josiahgatlyn
        instagram: @gatlyngun

Filmed by Josh Cronje, Dean Antoniou, Jack Turner, Mikey Buesso.
      </aside>
      <aside>
        Had some park footy chillen and decided to make a tage.Some recent footy and some old
        Film/edit: Jordi Aguirre

        Featuring: Geo Bravo, Bobby Berenotto, Lukas Ambraska, Enzo Juarez, Amari Lelaind, Tyler Woods, Joe Jaworski, Anthony Garcia, Jon Spitzer, Holland Cain, Jonah Thompson, Manny Benitez, Mickey O'keefe, Troy Ettienne, Cu-zo
      </aside>
    </div>
  </div>
  <footer>Contact Info</footer>
</div>
