<div id="outer" class="flex_column">
  <header id="one">Shark Junior's</header>
  <nav id="two">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/skate">Skate</a></li>
      <li><a href="/shoes">Shoes</a></li>
      <li><a href="/apparel">Apparel</a></li>
      <li><a href="/videos">Videos</a></li>
    </ul>
  </nav>
  <div id="center">
    <div id="apparel-sort" class="flex_column">
      <% @apparel.each do |item|%>
      <a href="/products/<%= item.id %>">  <%= item.name %> </a>
      <%= item.description %>
      <%= item.price_in_cents %>
      <%= item.category %>
      <img src="<%= item.url%>" />
       <% end %>
    </div>
    <div class="flex_column">
      <aside>Aside1
        <img src="<%=Product.all.sample.url%>" />
      </aside>
      <aside>Aside2
        <img src="<%=Product.all.sample.url%>" />
      </aside>
    </div>
  </div>
  <footer>Contact Info</footer>
</div>
