<div id="outer" class="flex_column">
  <header id="one">Shark Junior's</header>
  <nav id="two">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/skate">Skate</a></li>
      <li><a href="/shoes">Shoes</a></li>
      <li><a href="/apparel">Apparel</a></li>
      <li><a href="/videos">Videos</a></li>
    </ul>
  </nav>
  <div id="center">
    <div id="apparel-sort" class="flex_column product-container">
      <% @apparel.each do |item|%>
      <img src="<%= item.url%>" class="shoe-image"/>
      <a href="/products/<%= item.id %>"  class="text-center"><%= item.name %> </a>
      <span class="shoe-desc text-center"><%= item.description %></span>
      <%= item.price_in_cents %>
       <% end %>
    </div>
    <div class="flex_column">
      <aside>
        <h3>Great deals on <br>new products!</h3>
        <img src="<%=Product.all.sample.url%>" />
        <p>60% off this fresh new deck!</p>
      </aside>
      <aside>
        <img src="<%=Product.all.sample.url%>" />
        <p>40% off all new products!</p>
      </aside>
    </div>
  </div>
  <footer>Contact Info</footer>
</div>
