<div id="outer" class="flex_column">
  <a href="/" class="home-link"><header id="one">WynSkate</header></a>
  <nav id="two" class="nav-link">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/skate">Skate</a></li>
      <li><a href="/shoes">Shoes</a></li>
      <li><a href="/apparel">Apparel</a></li>
      <li><a href="/videos">Videos</a></li>
    </ul>
  </nav>
  <div id="center">
    <div id="shoe-sort" class="flex_column product-container">
      <% @shoes.each do |shoe|%>
      <img src="<%= shoe.url%>" class="shoe-image" />
      <a href="/products/<%= shoe.id %>" class="text-center">  <%= shoe.name %> </a>
      <span class="shoe-desc text-center"><%= shoe.description %></span>
      <%= shoe.price_in_cents %>
       <% end %>
    </div>
    <div class="side-column">
      <aside>
        <h3>Great deals on <br>new products!</h3>
        <img src="<%=Product.all.sample.url%>" />
        <p>
          60% off this fresh new deck!
        </p>
      </aside>
      <aside>
      <img src="<%=Product.all.sample.url%>" />
      <p>
        40% off all new products!
      </p>
      </aside>
    </div>
  </div>
  <footer class="footer-pad">Contact Info <br> Adam Hill Email - ahil0017@gmail.com <br> Jake Sena Email - jakesena1994@gmail.com</footer>
</div>
