<nav id="two" class="nav-link">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/skate">Skate</a></li>
    <li><a href="/shoes">Shoes</a></li>
    <li><a href="/apparel">Apparel</a></li>
    <li><a href="/videos">Videos</a></li>
  </ul>
</nav>
<div id="its-soo-late">
<img src="<%= @product.url %>" />

<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>


<h3>Reviews</h3>
<% @product.reviews.each do |review| %>
  <p>
    <%= review.comment %>
    <br>
    Added on: <%= review.created_at %>
  </p>
<% end %>

  <h3>New Review</h3>
<%= render 'reviews/form' %>


<%= link_to 'Back', root_path %>
</div>
